/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/******************************************
/* LAYOUT
/*******************************************/

html {
     background-color:rgba(23, 23, 23, 0.966);
     scroll-behavior: smooth;
     font-size:16px;
}

body {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 0.1fr 0.1fr 0.1fr 0.5fr 0.1fr 0.05fr;
     grid-template-areas:
       "nav nav nav nav"
       "header header header header"
       "inter inter inter inter"
       "main main main main"
       "project project project project"
       "footer footer footer footer";
     grid-gap: 0.2rem;
     margin:0 6%;
     color:white;
     height: 100%;
     text-rendering: optimizeLegibility;
     height:100vh;
}

nav {
     grid-area: nav;
}

header {
     grid-area: header;
     height:90vh;
}

.inter {
     grid-area: inter;
}

main {
     grid-area: main;
}

.project {
     grid-area: project;
}
footer {
     grid-area: footer;
}



/******************************************
/* LAYOUT
/*******************************************/





/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-family:"Open Sans", sans-serif;
     font-size: 16px;
     line-height:1.5;
     color:white;
     text-rendering: optimizeLegibility;
}

a {
     text-decoration:none;
     color:inherit;
}

ul {
     list-style-type: none;
}

a:visited {
     color:inherit;
}

/******************************************
/* NAVBAR
/*******************************************/
nav .container {
     height: 100%;
     padding-top:5vh;
     border-bottom: solid 1px rgba(255,255,255,0.7);
}
nav .container ul {
     display:grid;
     grid-template-columns:1fr 2fr 1fr ;
     grid-template-rows: auto;
     grid-template-areas: "mail logo cont";
     margin-bottom:1vh;
}


.logo img{
     width:45px;
     height:auto;
     object-fit:cover;
     object-position:center;
     margin-top:-18px;
     
}

.contLogo {
     grid-area:logo;
     justify-self:center;
}
.rightSide span {
     display:none;
}
.rightSide {
     justify-self: end;
     grid-area: cont;
     align-self: center;
     font-size:0.9rem;
}

.rightSide a{
     padding-right:1rem
}

.leftSide {
     grid-area:mail;
     display:none;
}

.menu {
     grid-area:mail;
     padding-left:10px;
     font-size:1.2rem;
}

/******************************************
/* NAVBAR
/*******************************************/

/******************************************
/* HEADER
/*******************************************/

header {
     padding-top:30px;
     font-family: 'Cinzel', serif;
     font-size:25px;
     font-weight:500;
     text-transform: uppercase;
}

img {
     width:100%;
     height:auto;
     object-fit:cover;
     object-position:center;
}

header .firstSection {
     width:50%;
     max-width:400px;
     min-width:200px;
     position:absolute;
     left:37%;
     top:15vh;
     bottom:auto;
     right:auto;
     padding-top:10px;
     z-index: -1;
     margin-top:50px;
     
     
}

header .secondSection {
     position:absolute;
     left:10%;
     top:45vh;
     bottom:auto;
     right:auto;
     font-size: calc(26px + 6 * ((100vw - 320px) / 250))
}

header button {
     background-color: white;
     outline: 0;
     border: black solid 1px;
     height: 40px;
     font-family: 'Niramit', sans-serif;
     color:black;
     border-radius: 5px;
     text-transform: uppercase;
     font-weight: 500;
     font-size: calc(14px + 6 * ((100vw - 320px) / 900))
}

header .lastSection {
     position:absolute;
     left:auto;
     top:auto;
     bottom:25px;
     right:25px;
     font-size:0.9rem;
     letter-spacing: 1px;
     
}

header .lastSection i {
     padding-left:7px;
}
/******************************************
/* HEADER
/*******************************************/

/******************************************
/* INTER
/*******************************************/

.inter {
     white-space: nowrap;
     text-transform: uppercase;
     font-weight: 700;
     margin-bottom: 10px;
     padding-top:20px;
     font-size: calc(12px + 6 * ((100vw - 320px) / 940));
     text-align:center ;
}

.inter h2 {
     display:inline-block;
     width:fit-content;
     padding:0px 10px;
}


.inter h2:hover {
     cursor: pointer;
}

.inter h2:after {
     display:block;
     content: '';
     border-bottom: solid 2px white; 
     transform: scaleX(0);  
     transition: transform 250ms ease-in-out;
}
.inter h2:hover:after { 
     transform: scaleX(1); 
}

.inter h2:after{  
     transform-origin:  0% 50%; 
}


/******************************************
/* INTER
/*******************************************/

/******************************************
/* MAIN
/*******************************************/


.thirdSection {
     display:grid;
     grid-template-columns: repeat(2, 1fr);
     column-gap:20px;
     row-gap: 20px;
     padding-bottom:20px;
     border-bottom:rgba(255, 255, 255, 0.555) 1px solid;
}
.thirdSection img {
     display:block;
     width:100%;
     height:auto;
     object-fit:cover;
     object-position:center;
}

.noDisplay {
     display: none;
}

.display {
     display:contents;
}

.thirdSection p{
     display: inline-block;
     padding:10px 0 2px 0;
     text-align: center;
     font-weight:500;
     font-size:0.7rem;
}

.thirdSection > div > div {
     background:rgba(0, 0, 0, 0.425);
     padding:5px;
     padding-top:10px;
     height: fit-content;
     font-size:0.7rem;
     text-align:center;
}

.thirdSection div span {
     display:inline-block;

}

.thirdSection div input {
     width:18px;
     height:auto;
     margin-left:2px;
     vertical-align: middle;
     display: inline-block;
     border:1px solid #ddd;
	border-radius:4px;
}

.thirdSection .productButtons {
     display:flex;
     justify-content: space-around;
     padding-top:10px;
}

.productButtons button {
     height:25px;
     font-size:0.5rem;
     font-weight: 500;
     color:white;
     border-radius: 7px;
     cursor: pointer;
     
}
.productButtons button:first-child {
     background-color: #346751;
}

.productButtons button:first-child:hover {
     background-color: #2c5744;
}
.productButtons button:last-child {
     background-color:#D65A31 ;
}

.productButtons button:last-child:hover {
     background-color:rgb(180, 86, 43) ; ;
}
.minus, .plus {
     display: inline-block;
     cursor:pointer;
     width:11px;
	height:13px;
	background:lightgrey;
     font-size:0.6rem;
	border-radius:4px;
     vertical-align: middle;
     text-align: center;
     color:black;
     font-weight: 600;
     padding:0;
     margin:0;
     border: 0;
     border-radius: 0;
}

.quantity {
     display:flex;
     justify-content: center;
}

.quantityButtons {
     padding-left:5px;
     margin-top:-1px;
}

.minus {
     margin-right:-7px;
     border-top-left-radius: 3px;
     border-bottom-left-radius:3px;
}

.plus {
     margin-left:-4px;
     border-top-right-radius: 3px;
     border-bottom-right-radius:3px;
}
.quantity input[value] {
     font-size:0.5rem;
     text-align: center;
     border-radius: 0;
}
/******************************************
/* MAIN
/*******************************************/

/******************************************
/* PROJECT
/*******************************************/

.project {
     text-align: center;
     color:white;
     padding:20px 0;
}

/******************************************
/* PROJECT
/*******************************************/

/******************************************
/* FOOTER
/*******************************************/

footer {
     background-color: #346751 ;
     height:200px;    
     color:black
}

.footer {
     height:100%;
     margin:0 10%;
     padding-top:2%;
}

footer a, footer span {
     display:inline-block;
}

footer h4 {
     font-weight:800;
     font-size:1.6rem;
     text-align: center;
}

.footerOne {
     text-align: center;
     font-weight: 500;
     font-size:1.2rem;
}

.footerTwo {
     text-align:center;
     font-size:1.4rem;
}

.footerThree {
     margin-top:3%;
     text-align: center;
     font-size:0.8rem;
}

.footerTwo :not(:last-child){
     padding-right: 10px;
}

.footerOne :first-child {
     padding-right:10px;
}

.footerOne :last-child {
     padding-left:10px;
}

/******************************************
/* FOOTER
/*******************************************/


@media only screen and (min-width: 600px) and (max-width: 915px) {
     
     header {
          height:90vh
     }
     header .firstSection {
          top:12vh;
     }
     header .secondSection {
          left:15%;
          top:48vh;
     }

     .thirdSection {
          display:grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap:20px;
          row-gap: 20px;
          padding-bottom:20px;
     }

     .thirdSection p, .thirdSection > div > div {
          font-size:0.75rem;
     }
     

     .thirdSection div input {
          width:20px;
          height:15px;
     }
     
     .productButtons button {
          height:28px;
          font-size:0.6rem;
          border-radius: 8px;
          
          
     }

     .minus, .plus {
          width:11px;
          height:15px;
          font-size:0.7rem;
     }
     
     .plus {
          padding-top:1px;
     }
     .quantity input[value] {
          font-size:0.6rem;
     }
} 

@media only screen and (min-width: 915px) {
     .menu {
          display:none;
     }
     .leftSide{
          display:contents;
     }
     .leftSide a{
          display:inline-block;
          padding-left:10px;
          padding-top:5px;
     }

     .rightSide span {
          display:contents;
          font-size:1rem;
     }

     .logo img{
          width:50px;
     }
     nav .container ul {
          margin-bottom:0.5vh;
     }
     header {
          height:100vh
     }
     header .firstSection {
          top:10vh;
          left:38%;
     }
     header .secondSection {
          left:15%;
          top:45vh;
     }
     header .lastSection {
          right:100px;
          font-size:1.2rem;
          
     }
     .inter {
          padding-bottom:15px;
     }
     .thirdSection {
          display:grid;
          grid-template-columns: repeat(4, 1fr);
          column-gap:20px;
          row-gap: 20px;
          padding-bottom:20px;
     }


     .thirdSection p, .thirdSection > div > div {
          font-size:0.9em;
     }
     

     .thirdSection div input {
          width:25px;
          height:18px;
     }
     
     .productButtons button {
          height:34px;
          font-size:0.8rem;
          border-radius: 8px;
}
     .minus, .plus {
          width:15px;
          height:18px;
          font-size:0.8rem;
     }
     
     .plus {
          padding-top:1px;
     }
     .quantity input[value] {
          font-size:0.7rem;
     }

     .project {
          margin:auto;
          width:50%;
          color:white;
          padding:50px 0;
          font-size:1.2rem;
     }
}